<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>179877687059-o7gaef1gsiiqijrnqggvsv27i5dn2tvs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.179877687059-o7gaef1gsiiqijrnqggvsv27i5dn2tvs</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>179877687059-bh81me7uksemr6823m5vangjm364t536.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyApz8gCN6CX56IvfsgP9v2D2OWBbZnGkC4</string>
	<key>GCM_SENDER_ID</key>
	<string>179877687059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatOnlineApp</string>
	<key>PROJECT_ID</key>
	<string>chatappflutter-be110</string>
	<key>STORAGE_BUCKET</key>
	<string>chatappflutter-be110.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179877687059:ios:238823cd4257384de834e6</string>
</dict>
</plist>