<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>582791616008-agq454u9ka097nl783vhoha3dan7j0r1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.582791616008-agq454u9ka097nl783vhoha3dan7j0r1</string>
	<key>API_KEY</key>
	<string>AIzaSyA55Mrc01BqqGRyrbAan2GbfsQGgnIQNls</string>
	<key>GCM_SENDER_ID</key>
	<string>582791616008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-login-app-a37bd</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-login-app-a37bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:582791616008:ios:7adf75e4d2a7a651fda3bd</string>
</dict>
</plist>